.netrwhist

xmonad-x86_64-linux
xmonad.errors
xmonad.state
xmonad.hi
xmonad.o

# OS X
.DS_Store

# Vim
.*.sw[a-z]
vim/vim/bundle

# Emacs
emacs/emacs.d/network-security.data
emacs/emacs.d/projectile-bookmarks.eld
emacs/emacs.d/.org-id-locations
emacs/emacs.d/projectile.cache
emacs/emacs.d/ac-comphist.dat
emacs/emacs.d/auto-save-list/
emacs/emacs.d/smex-items
emacs/emacs.d/%backup%~
emacs/emacs.d/bookmarks
emacs/emacs.d/eln-cache
emacs/emacs.d/secret.el
emacs/emacs.d/transient
emacs/emacs.d/session*
emacs/emacs.d/history
emacs/emacs.d/recentf
emacs/emacs.d/recentf~
emacs/emacs.d/eshell
emacs/emacs.d/games
emacs/emacs.d/tramp
emacs/emacs.d/elpa
emacs/emacs.d/url

## straight.el
emacs/emacs.d/straight/build
emacs/emacs.d/straight/build-cache.el
emacs/emacs.d/straight/modified
emacs/emacs.d/straight/repos

# irssi
irssi/irssi/config.autosave

# ruby
ruby/bundle/cache