.netrwhist

xmonad-x86_64-linux
xmonad.errors
xmonad.hi
xmonad.o

# OS X
.DS_Store

# Vim
.*.sw[a-z]

# Emacs
emacs/emacs.d/auto-save-list/
emacs/emacs.d/bookmarks
emacs/emacs.d/recentf
emacs/emacs.d/recentf~
