[Desktop Entry]
Type=Application
Name=Dell UltraSharp Monitor U2518D
Comment=Autostart
Terminal=false
Exec=xrandr --output HDMI-1 --mode "2560x1440R"
Categories=
X-Gnome-Autostart-Delay=0
