#Written by GNOME Terminal 3.6.2

[GNOME Terminal Configuration]
Version=1
CompatVersion=1
Windows=Window2;Window3;

[Window2]
MenubarVisible=false
Role=gnome-terminal-window-31153-299579391-1422598320
ActiveTerminal=Terminal0x112b910
Geometry=87x16+1305+0
Terminals=Terminal0x112b910;

[Terminal0x112b910]
Title=vim
ProfileID=base-16-grayscale-light
WorkingDirectory=/home/christopher/Documents/Vagrant/data/octopodes
Zoom=1
Width=87
Height=16

[Window3]
MenubarVisible=false
Role=gnome-terminal-window-31153--787116473-1422598323
ActiveTerminal=Terminal0x1247630
Geometry=185x64+0+0
Terminals=Terminal0x1247630;Terminal0x11fd850;Terminal0x125b2d0;Terminal0x126f800;

[Terminal0x11e79f0]
Title=notes
ProfileID=base-16-grayscale-light
WorkingDirectory=/home/christopher/Dropbox/Notes/Notational Data
Zoom=1
Width=185
Height=64

[Terminal0x1247630]
Title=git
ProfileID=base-16-grayscale-light
WorkingDirectory=/home/christopher/Documents/Vagrant/data/octopodes
Zoom=1
Width=185
Height=64

[Terminal0x11fd850]
Title=test
ProfileID=base-16-grayscale-light
WorkingDirectory=/home/christopher/Documents/Vagrant/data/octopodes
Zoom=1
Width=185
Height=64

[Terminal0x125b2d0]
Title=irb
ProfileID=base-16-grayscale-light
WorkingDirectory=/home/christopher/Documents/Vagrant/data/octopodes
Zoom=1
Width=185
Height=64

[Terminal0x126f800]
Title=run
ProfileID=base-16-grayscale-light
WorkingDirectory=/home/christopher/Documents/Vagrant/data/octopodes
Zoom=1
Width=185
Height=64

[Terminal0x126f811]
Title=psql
ProfileID=base-16-grayscale-light
WorkingDirectory=/home/christopher/Documents/Vagrant/data/octopodes
Zoom=1
Width=185
Height=64
